section#contact{
  min-height: 100vh;

  .social{

    a{
      color: $color-a;

      &:hover{
        color: $color-d;
      }

      &:active{
        color: darken($color-d, 10%);
      }
    }

    i{
      margin: 20px 10px;
    }
  }
}